@font-face {
  font-family: "Akira";
  src: url("../assets/fonts/Akira\ Expanded\ Super\ Bold.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

body,
html {
  overflow-x: hidden;
  font-family: "Clash Display", sans-serif;
  background-color: var(--tertiary-color);
}
h1,
h3,
h4 {
  font-family: "Akira";
}
:root {
  --text-color: #fff;
  --primary-color: #f2ff00;
  --tertiary-color: #000;
  --card-bg: #1e1e1e;
  --hover-color: #6a6a6a;
  --text-color-10: #ffffff1a;
  --text-color-16: #ffffff29;
  --text-color-50: #ffffff80;
  --text-color-30: #ffffff4d;
}
a,
span {
  display: inline-block;
  text-decoration: none;
}
.container {
  max-width: 1820px !important;
}
.cursor {
  mix-blend-mode: difference;
  height: 18px;
  width: 18px;
  cursor: none;
  border-radius: 50%;
  background: var(--text-color);
  transform: rotate(325deg);
  /* background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  ); */

  position: fixed;
  z-index: 9999;
}
.nav-btn {
  padding: 20px 20px 20px 41px;
  outline: 1px solid var(--primary-color);
  background-color: #fff7001a;
  backdrop-filter: blur(2px);
  border-radius: 37.5px;
  transition: all 0.2s;
  overflow: hidden;
}
.nav-btn > span {
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}
.nav-btn img {
  transition: all 0.3s ease-in-out;
}
.nav-btn:hover {
  background-color: var(--primary-color);
}
.nav-btn:hover span {
  transform: translateX(16em);
}
.nav-btn:hover img {
  transform: translateX(-6em) scale(1.8);
}
.active {
  border-radius: 110px;
  background-color: var(--primary-color);
  color: var(--tertiary-color) !important;
}
.active:hover {
  background: var(--primary-color) !important;
}
.title1 {
  font-size: 141px;
  color: var(--text-color);
  line-height: 130px;
}
.title2 {
  font-size: 48px;
  font-weight: 400;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title3 {
  font-size: 25px;
  color: var(--text-color);
  position: relative;
  margin-left: 50px;
}
.about-title3::before,
.service-title3::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  bottom: 10%;
  left: -40px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  border: 5px solid var(--primary-color);
}
.title4 {
  font-size: 19px;
  font-weight: 900;
  color: var(--text-color);
}
/* Nav-bar */
.hdr-sec {
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 99;
}
.navbar-brand {
  width: 172px;
}
.navbar-brand > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.offcanvas {
  flex-direction: row !important;
  align-items: center;
}
.navbar-nav {
  max-width: 1305px;
  padding: 3px;
  backdrop-filter: blur(13px);
  margin: 0 auto;
  /* height: 74px; */
  align-items: center;
  border-radius: 56px;
  background-color: var(--text-color-16) !important;
  border: 1px solid #ffffff42;
}
.navbar-nav li:nth-child(6) {
  margin-right: 0;
}
.nav-item {
  margin-right: 5px;
  /* padding: 20px; */
}
.nav-link {
  padding: 21px 20px !important;
  color: var(--text-color);
  font-size: 18px;
  transition: all 0.5s ease-in;
}
.nav-link:hover {
  /* padding: 20px; */
  color: var(--text-color);
  border-radius: 110px;
  background-color: var(--tertiary-color);
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  background: linear-gradient(
      to top,
      rgba(255, 251, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #000000 !important;
  padding: 5px 19px 0 5px;
  border-radius: 10px;
}
.dropdown-menu > li {
  margin-bottom: 5px;
}
.dropdown-item {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, #4e4e4e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 20px;
  border: 1px solid #ffe6004d;
  width: 220px !important;
  border-radius: 300px;
}
.navbar-nav .nav-link.show {
  color: var(--text-color) !important;
}
.search-form {
  max-width: 370px;
}
/* .search-form {
    width: 298px;
} */
.search-wrpr {
  width: 100%;
  padding: 20px 15px;
  border-radius: 74px;
  background-color: var(--tertiary-color);
}
.search-wrpr > label > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.search-input {
  background: none;
  border: none;
}
.search-input::placeholder {
  color: var(--text-color) !important;
  font-size: 16px;
}
.search-input:focus {
  background: none;
  outline: none !important;
  border: none !important;
}
.cart-bg {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}
.cart-bg > img {
  width: 24px;
  height: 24px;
}
.nav-btn > img {
  width: 37px;
  height: 37px;
  object-fit: contain;
  margin-left: 10px;
}
/* Modal */
.modal-backdrop {
  --bs-backdrop-zindex: 0 !important;
}
.modal-dialog {
  max-width: 1140px;
}
.modal-content {
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #ffff00 0%, #000000 100%);
  position: relative;
}
.modal-header > .title3 {
  margin-left: 0 !important;
  margin-top: 10px;
  font-size: 27px;
}
.modal-desc {
  max-width: 455px;
  margin-block: 0 50px;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
  opacity: 0.5;
}
.modal-form {
  width: 100%;
}
.input-wrpr {
  width: 100%;
  padding: 15px 20px;
  background-color: var(--text-color-10);
  border: 1px solid var(--text-color-30);
  margin-bottom: 12px;
}
.input-wrpr > img {
  margin-right: 10px;
}
.input-wrpr > input:focus {
  border: none;
  outline: none !important;
}
#fname,
#lname,
#emailname,
#gender,
#age,
#phone,
#weight,
#goal,
#password {
  width: 100%;
  background: none;
  border: none;
}
#fname::placeholder,
#lname::placeholder,
#emailname::placeholder,
#gender::placeholder,
#age::placeholder,
#phone::placeholder,
#weight::placeholder,
#goal::placeholder,
#password::placeholder {
  color: var(--text-color);
  text-transform: capitalize;
  font-size: 15px;
}
.eye-close {
  margin-left: 200px;
}
.terms {
  margin-block: 12px 24px;
}
.terms > span {
  color: #4e4e4e;
  font-size: 17px;
  margin-left: 10px;
}
.terms > a {
  color: var(--text-color);
  font-size: 17px;
  text-decoration: underline;
}
.submit-btn-wrpr {
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 37.5px;
  padding: 20px 20px 20px 41px;
}
#submit-btn {
  background: none !important;
  border: none !important;
  font-weight: 500;
  font-size: 18px;
  color: var(--tertiary-color);
}
.modal-right {
  background: url(../assets/Modal-bg.png) no-repeat center/cover;
  padding: 50px;
}

.modal-logo {
  width: 90px;
  margin-left: auto;
}
.modal-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal-right-cntn {
  margin-top: 400px;
}
.modal-right-cntn > p {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  opacity: 0.5;
}
.modal-btm > p {
  font-weight: 600;
  font-size: 18px;
  max-width: 186px;
  color: var(--text-color);
}
.line1 {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--tertiary-color);
  border: 2px solid var(--text-color);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.line2 {
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  color: var(--text-color);
  margin-left: 10px;
}
.btn-close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--text-color);
  opacity: 1 !important;
  border: 1px solid var(--tertiary-color) !important;
}
/* Banner Section */
.banner-sec {
  position: relative;
  padding: 400px 0 122px;
  min-height: 100vh;
  background: url(../assets/Banner-bg.jpg) no-repeat center/cover;
  background-attachment: fixed;
}
.banner-sec::before {
  content: "";
  z-index: 2;
  filter: blur(872px);
  background: #f7e700;
  width: 627px;
  height: 627px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.banner-sec::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}
.banner-left-cntn {
  max-width: 550px;
  margin-left: auto;
}
.grey-text {
  font-size: 27px;
  font-weight: 500;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 0.5) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.img-circles {
  margin-block: 40px;
}

.img-circle {
  width: 98px;
  height: 98px;
  animation: upsanddown 1.5s ease-in-out infinite;
}
/* .img-circle {
    width: 80px;
    height: 80px;
} */
.img-circle > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-circles li:nth-child(1) {
  animation-delay: 0.01s;
}
.img-circles li:nth-child(2) {
  animation-delay: 0.1s;
}
.img-circles li:nth-child(3) {
  animation-delay: 0.19s;
}
.img-circles li:nth-child(4) {
  animation-delay: 0.28s;
}
.img-circles li:nth-child(2) img {
  transform: translateX(-26px);
}
.img-circles li:nth-child(3) img {
  transform: translateX(-52px);
}
.img-circles li:nth-child(4) img {
  transform: translateX(-78px);
}
@keyframes upsanddown {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-10px);
  }

  40% {
    transform: translateY(0);
  }
}

.member-text {
  max-width: 300px;
  font-size: 27px;
  font-weight: 500;
  color: var(--text-color-50);
}

.member-text > span {
  color: var(--primary-color);
}
.scroll {
  margin-top: 40px;
  font-size: 27px;
  font-weight: 500;
  padding-left: 16.5px;
  color: var(--text-color);
  border-left: 1px solid var(--text-color);
}
.banner-right-cntn {
  max-width: 1170px;
  margin-left: auto;
  position: relative;
}
.title1 > .yellow-text {
  color: var(--primary-color);
}
.yellow-line {
  transform: skewX(-30deg);
  width: 24.78px;
  height: 59.08px;
  background: var(--primary-color);
  position: relative;
}
.yellow-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 24.78px;
  height: 59.08px;
  background: var(--primary-color);
}
.yellow-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 24.78px;
  height: 59.08px;
  background: var(--primary-color);
}
.banner-btn {
  max-width: 317px;
  color: var(--text-color);
  font-size: 33px;
  border-bottom: 1px solid var(--text-color);
  padding: 0 !important;
  margin-top: 100px;
}
.banner-btn:hover {
  color: var(--primary-color) !important;
  border-bottom: 1px solid var(--primary-color) !important;
}
.white-arrow {
  width: 24px;
  height: 27px;
  object-fit: cover;
}
.overlay {
  width: 627px;
  height: 627px;
  position: absolute;
  bottom: 23px;
  right: -167px;
}
.overlay > img {
  width: 100%;
  height: 100%;

  /* filter: blur(872.65px); */
  object-fit: contain;
}
/* Category Section */
.category-sec {
  padding: 20px 0;
  position: relative;
  background-color: var(--tertiary-color);
}
.swiper {
  width: 100%;
  overflow: visible;
}
.swiper-slide {
  max-width: 640px;
  height: 380.1px;
  background-color: var(--tertiary-color);
  padding: 24px;
  border: 1px solid var(--text-color-30);
  margin: 0 auto;
  overflow: visible;
}
.card {
  display: block;
  width: 100%;
  height: 100%;
  padding: 50px 0 50px 50px;
  position: relative !important;
}
.card1 {
  background: url(../assets/Cata-card-bg1.png) no-repeat center/cover;
}
.card2 {
  background: url(../assets/Cata-card-bg2.png) no-repeat center/cover;
}
.card3 {
  background: url(../assets/Cata-card-bg3.png) no-repeat center/cover;
}
.smaller-yellow-line {
  margin-left: 30px !important;
}
.smaller-yellow-line,
.smaller-yellow-line::after,
.smaller-yellow-line::before {
  width: 11.55px;
  height: 27.55px;
}
.smaller-yellow-line::before {
  left: -22px;
}
.smaller-yellow-line::after {
  left: 22px;
}
.num {
  font-family: "Akira";
  font-size: 139px;
  color: var(--card-bg);
  -webkit-text-stroke: 1px var(--text-color-50);
  margin: 0 !important;
}
.cata-card-img1 {
  width: 196.06px;
  position: absolute;
  right: 19.94px;
  bottom: 0;
  /* scale: 1.2; */
}
.cata-card-img1 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cata-card-img2 {
  width: 201.47px;
  position: absolute;
  right: 38.53px;
  bottom: 0.1px;
  /* scale: 1.2; */
}
.cata-card-img2 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cata-card-img3 {
  width: 485.44px;
  position: absolute;
  right: 14.5px;
  bottom: 0.1px;
}
.cata-card-img3 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* About Section */
.about-sec {
  padding: 160px 0 60px;
  background-color: var(--tertiary-color);
}
.about-yellow-line,
.about-yellow-line::after,
.about-yellow-line::before {
  width: 8.55px;
  height: 22px;
}
.about-yellow-line::before {
  left: -15px;
}
.about-yellow-line::after {
  left: 15px;
}
.about-img {
  max-width: 825px;
  margin-top: 166.73px;
}
.about-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about-right-desc {
  max-width: 825px;
  margin: 80px auto 0;
}
.about-right-desc-hdr {
  font-size: 35px;
  font-weight: 500;
  color: var(--text-color);
}
.about-desc-row {
  margin-top: 30px;
}
.desc {
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color-50);
}
.phone-img {
  max-width: 99.28px;
}
.phone-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.phone-contact > a {
  margin-left: 31px;
  max-width: 261px;
  font-size: 23px;
  font-weight: 500;
  color: var(--text-color);
}
.phone-contact > a > span {
  font-size: 31px;
  color: var(--primary-color);
}
/* Service Section */
.service-sec {
  padding: 80px 0;
  background: var(--tertiary-color);
}
.service-cntn {
  max-width: 1160px;
  margin: 0 auto;
}
.training-list {
  width: 100%;
}
.training-list a {
  font-size: 45px;
  font-weight: 900;
  font-family: "Akira";
  padding: 65.55px 5px;
  color: var(--hover-color);
  border-bottom: 1px solid var(--text-color-30);
  position: relative;
  transition: all 0.3s linear;
}
.training-list > li:first-child > a {
  color: var(--text-color);
}
.traning-img {
  position: absolute;
  max-width: 388.35px;
  left: 668px;
  bottom: 25.7px;
  /* margin-inline: 20px 30px; */
}
.traning-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.training-list > li:first-child i {
  margin-left: 420px;
  transform: rotate(-45deg) translateY(-2px);
}
.training-list > li:nth-child(2) > a > i {
  margin-left: 545px;
}
.training-list > li:nth-child(3) > a > i {
  margin-left: 390px;
}
/* Second About Section */
.sec-about-sec {
  /* position: relative;
  width: 100%; */
  /* or your desired height */
  /* background: url("../assets/Sec-about-bg.png") no-repeat center/cover;
  background-blend-mode: overlay; */
  background: url(../assets/Sec-about-bg.jpg) no-repeat center/cover;
  padding: 80px 0;
  background-attachment: fixed;
  background-color: var(--tertiary-color);
}
/* .sec-about-sec::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(242, 255, 0, 0.4); 
  mix-blend-mode: overlay;
} */
.sec-about-img {
  max-width: 848px;
  margin-top: 169px;
}
.sec-about-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-card-container {
  margin-top: 80px;
}
.trans-card {
  background-color: var(--text-color-10);
  border: 1px solid;
  max-width: 412px;
  height: 289px;
  backdrop-filter: blur(60px);
  padding: 30px;
  margin-bottom: 24px;
}
.fa-check {
  color: var(--primary-color);
  margin-bottom: 22px;
}
.trans-card > p {
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
  margin-top: 22px;
  opacity: 0.5;
}
.trans-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  padding: 1px;
  background: linear-gradient(to right, #f2ff00 0%, rgba(242, 255, 0, 0) 100%),
    linear-gradient(to left, #f2ff00 0%, rgba(242, 255, 0, 0) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
/* Coaches section */
.coaches-sec {
  padding: 80px 0;
  background-color: var(--tertiary-color);
}
.second-swiper {
  width: 100%;
  overflow: visible;
  margin-top: 80px;
}
.coach-slide {
  height: 500px;
  border: 1px solid #ffffff33;
}
.coach-card {
  height: 452px;
  padding: 317px 24px 24px;
  position: relative;
}
.coach1 {
  background: url(../assets/Coach-card-bg.png) no-repeat center/cover;
}
.coach2 {
  background: url(../assets/Coach-card-bg2.png) no-repeat center/cover;
}
.coach3 {
  background: url(../assets/Coach-card-bg3.png) no-repeat center/cover;
}
.coach-img {
  max-width: 570.15px;
  position: absolute;
  top: -62px;
}
.coach-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.coach-desc > .yellow-line,
.coach-desc > .yellow-line::after,
.coach-desc > .yellow-line::before {
  width: 6.35px;
  height: 15.17px;
}
.coach-desc > .yellow-line::before {
  left: 12px;
}
.coach-desc > .yellow-line {
  margin-left: 2px !important;
}
.coach-title {
  color: var(--text-color);
  font-weight: 900;
  font-family: "Akira";
}
.coach-name {
  font-weight: 200;
  font-size: 53px;
  color: var(--text-color);
  letter-spacing: -3%;
}

.swiper-pagination {
  top: 110% !important;
}
.swiper-pagination-bullet-active {
  background: var(--primary-color) !important;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border-radius: 1px;
  opacity: 1;
  background: var(--text-color-30);
}
/* Plan Section */
.plan-sec {
  padding: 80px 0;
  background-color: var(--tertiary-color);
}
.plan-col {
  padding: 0 !important;
}
.plan-right-hdr {
  margin-bottom: 40px;
}
.plan-parent-box {
  max-width: 639.67px;
  height: 639px;
  padding: 24px;
  background-color: var(--tertiary-color);
  border: 1px solid var(--text-color-30);
  margin: 0 auto;
  transition: all 0.5s ease;
}
.plan-parent-box:hover {
  transform: translateY(-10px);
}
.plan-card {
  max-width: 591.67px;
  height: 585px;
  position: relative;
  background: url(../assets/Coach-card-bg.png) no-repeat center/cover;
  padding: 24px 16px;
}
.plan-yellow-line,
.plan-yellow-line::after,
.plan-yellow-line::before {
  width: 6.36px;
  height: 15.17px;
}
.plan-yellow-line {
  margin-left: 16px !important;
}
.plan-yellow-line::before {
  left: -11px;
}
.plan-yellow-line::after {
  left: 11px;
}
.plan-title {
  margin-top: 10px;
}
.plan-para {
  font-size: 12px;
  line-height: 20px;
  color: var(--text-color);
  opacity: 0.5;
  margin-bottom: 0;
}
.price-ben {
  margin-left: 0;
  padding-left: 0;
  margin-block: 70px;
}
.price-hdr {
  font-size: 53px;
  font-weight: 600;
  color: var(--text-color);
  /* margin-bottom: 30px; */
}
.price-hdr > sup {
  font-size: 22px;
  font-weight: 500;
  top: -1.5em;
}
.price-ben > li {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
}
.price-ben > li > img {
  margin-right: 10px;
}
.plan-btn {
  padding: 20px 90px;
  width: 100%;
  color: var(--text-color);
  font-weight: 600;
  text-transform: uppercase;
  border-block: 1px solid var(--text-color-30);
  border-inline: 4px solid var(--primary-color);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}
.plan-btn::before,
.plan-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  background-color: var(--primary-color);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}
.plan-btn::before {
  left: -10px;
}

.plan-btn::after {
  right: -10px;
}
.plan-btn:hover::before,
.plan-btn:hover::after {
  width: 58%;
}
.plan-btn:hover {
  color: var(--tertiary-color);
}
.yellow-skew-lines {
  position: absolute;
  right: 24px;
  top: 25%;
}
.yellow-skew-lines > span {
  width: 15px;
  /* margin-bottom: -100px; */
  height: 38px;
  background-color: var(--primary-color);

  transform: skew(45deg);
}
.sec-swiper-pg {
  top: 106% !important;
}
/* Location Section */
.location-sec {
  background-color: var(--tertiary-color);
}
.loc-hdr {
  padding: 80px 0;
  background: url(../assets/Loc-bg.png) no-repeat center/cover;
}
.location-right-hdr {
  margin-top: 80px;
}
.location-title2 > .yellow-span {
  -webkit-text-fill-color: var(--primary-color);
}
.location-title2 > .white-text {
  -webkit-text-fill-color: var(--text-color);
}
.location-row {
  margin-top: 30px;
  align-items: center;
}
.number > p {
  max-width: 186px;
  font-size: 81px;
  line-height: 36px;
  font-weight: bold;
  color: var(--text-color);
  /* padding-right: 30px; */
  border-right: 1px solid var(--text-color);
}
.yellow-plus {
  color: var(--primary-color);
}
.small-txt {
  font-size: 32px;
  font-weight: 400;
  color: var(--text-color);
}
.loc-para {
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
}
.loc-img-sec {
  padding: 0 0 80px;
}
.loc-img {
  max-width: 1720px;
}
.loc-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* Transform Section */
.transform-sec {
  background: url(../assets/Transform-sec.png) no-repeat center/cover;
  padding: 468px 0 80px;
  position: relative;
  z-index: 1;
}
.transform-img {
  max-width: 678px;
  margin: 0 auto;
  position: absolute;
  left: 0;

  right: 0;
  z-index: -1;
  top: -10%;
}

.transform-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.trans-hdr {
  text-align: center;
  max-width: 1910px;
  margin: 0 auto;
  line-height: 70px;
  color: var(--primary-color);
  font-size: 77px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Akira";
}
.trans-hdr > span {
  font-size: 43px;
  color: var(--text-color);
}
.trans-yellow {
  margin-block: 50px;
}
.trans-desc {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 34px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Footer Section */
.ftr-sec {
  padding: 80px 0;
  background-color: var(--tertiary-color);
}
.ftr-top {
  padding-bottom: 90px;
  border-bottom: 1px solid var(--text-color-30);
}
.ftr-left {
  max-width: 500px;
}
.ftr-hdr1,
.ftr-hdr2 {
  font-size: 42px;
  font-weight: 500;
  line-height: 50px;
  color: var(--text-color);
}
.scl-list {
  width: 100%;
  margin-top: 50px;
}
.scl-links {
  color: var(--text-color);
  font-size: 21px;
  font-weight: 500;
  transition: all 0.3s linear;
}
.scl-links:hover {
  color: var(--primary-color);
  transform: translateY(-2px);
}
.scl-links > i {
  transition: all 0.3s linear;
}
.scl-links:hover > i {
  transform: rotate(-45deg) translateX(5px);
  color: var(--primary-color) !important;
}
.ftr-right {
  max-width: 688px;
}
.ftr-logo {
  max-width: 650px;
  margin-left: auto;
}
.ftr-logo > a {
  width: 100%;
  height: 100%;
}
.ftr-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ftr-list {
  width: 100%;
  margin-top: 20px;
}
.ftr-list > li:last-child {
  margin-right: 0 !important;
  border: none;
  padding-right: 0 !important;
}
.ftr-list > li {
  margin-right: 14px;
}
.ftr-links {
  font-size: 18px;
  border-right: 1px solid var(--text-color);
  padding-right: 20px;
  font-weight: 500;
  color: var(--text-color);
  transition: all 0.3s linear;
}
.ftr-links:hover {
  color: var(--primary-color);
  transform: translateY(-2px);
}
.ftr-btm {
  padding-top: 37px;
}
.ftr-btm-left {
  max-width: 500px;
}
.ftr-btm-left > p {
  font-size: 20px;
  margin-top: 15px;
  font-weight: 500;
  color: var(--text-color);
}
.email-form {
  max-width: 690px;
}
.email-input-wrpr {
  max-width: 100%;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  padding: 14px 24px;
  background-color: var(--card-bg);
}
.email-input {
  background: none;
  border: none;
}
.email-input:focus {
  border: none;
  outline: none;
}
.email-input::placeholder {
  color: var(--text-color);
  font-size: 20px;
}
.email-input-wrpr > .nav-btn {
  padding: 20px 27px 20px 40px;
}
.email-input-wrpr > .nav-btn:hover img {
  transform: translateX(-3em) scale(3);
}
/* Responsive section */
@media screen and (max-width: 1750px) {
  .title1 {
    font-size: 100px;
    color: var(--text-color);
    line-height: 100px;
  }
  .title3 {
    font-size: 20px;
    color: var(--text-color);
  }
  .nav-btn {
    padding: 20px 10px 20px 17px;
    outline: 1px solid var(--primary-color);
    background-color: #fff7001a;
    backdrop-filter: blur(2px);
    border-radius: 37.5px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
  }
  /* Header Section */
  .navbar-brand {
    width: 150px;
  }
  .nav-link {
    padding: 20px 13px !important;
    color: var(--text-color);
    font-size: 16px;
  }
  .nav-btn > img {
    width: 18px;
    height: 18px;
    object-fit: contain;
    margin-left: 0px;
  }
  /* Banner Section */
  .banner-sec {
    padding-bottom: 60px;
  }
  .banner-btn {
    max-width: 252px;
    font-size: 25px;
    margin-top: 60px;
  }
  .img-circles {
    margin-block: 30px;
  }
  .member-text {
    max-width: 300px;
    font-size: 20px;
  }
  .yellow-line {
    margin-left: 30px;
  }
  /* Category Section */
  .cata-card-img1 {
    width: 181.06px;
    position: absolute;
    right: -23.06px;
    bottom: 0.1px;
  }
  .cata-card-img2 {
    width: 184.47px;
    position: absolute;
    right: -27.47px;
    bottom: 0.1px;
  }
  .cata-card-img3 {
    width: 380.44px;
    position: absolute;
    right: -31.5px;
    bottom: 0.1px;
  }

  .num {
    font-family: "Akira";
    font-size: 114px;
    color: var(--card-bg);
    -webkit-text-stroke: 1px var(--text-color-50);
    margin: 0 !important;
  }
  /* Service section */
  .training-list a {
    font-size: 28px;
    font-weight: 900;
    padding: 50px 0px;
  }
  .traning-img {
    left: 411px;
    bottom: -39.3px;
  }
  .training-list > li:first-child i {
    margin-left: 401px;
    transform: rotate(-45deg) translateY(-2px);
  }
  .training-list > li:nth-child(2) > a > i {
    margin-left: 480px;
  }
  .training-list > li:nth-child(2) > a > i {
    margin-left: 484px;
  }
  /* Second About Section */
  .trans-card {
    padding: 20px;
    margin-bottom: 20px;
  }
  .trans-card > p {
    font-size: 18px;
    line-height: 25px;
    margin-top: 2px;
    opacity: 0.5;
  }
  .fa-check {
    margin-bottom: 11px;
  }
}
@media screen and (max-width: 1400px) {
  .title1 {
    font-size: 87px;
    line-height: 83px;
  }
  /* Header Section */
  .offcanvas {
    flex-direction: column !important;
    text-align: center;
    background: rgba(0, 0, 0, 0.4); /* semi-transparent black */
    backdrop-filter: blur(20px); /* blur intensity for glass effect */
    -webkit-backdrop-filter: blur(20px); /* for Safari support */
    border: 1px solid rgba(255, 255, 255, 0.1); /* optional: subtle glass border */
  }
  .navbar-nav {
    background: none !important;
    border: none;
    backdrop-filter: none;
  }
  .navbar-toggler-icon {
    width: 2.2rem;
    background: none;
  }

  .nav-item {
    margin-right: 0;
  }
  .nav-item:hover {
    background: none;
  }
  .search-form {
    margin-bottom: 20px;
  }
  .search-wrpr {
    background-color: var(--hover-color);
    padding: 6px 10px;
  }

  /* Banner Section */
  .grey-text {
    font-size: 22px;
  }
  .member-text {
    max-width: 300px;
    font-size: 18px;
  }
  .scroll {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 500;
    padding-left: 16.5px;
    color: var(--text-color);
    border-left: 1px solid var(--text-color);
  }
  .img-circles {
    margin-block: 25px;
  }
  .img-circle {
    width: 76px;
    height: 76px;
  }
  .banner-btn {
    max-width: 252px;
    font-size: 21px;
    margin-top: 38px;
  }
  /* Category Section */
  .card {
    padding: 42px 0 36px 21px;
  }
  /* Service Section */

  .training-list a {
    font-size: 22px;
    font-weight: 900;
    padding: 40px 0px;
  }
  .traning-img {
    left: 325px;
    bottom: -50.3px;
  }
  .training-list > li:nth-child(2) > a > i {
    margin-left: 460px;
  }
  .training-list > li:nth-child(3) > a > i {
    margin-left: 383px;
  }
  /* Coach Section */
  .coach-name {
    font-size: 38px;
  }
  .coach-title {
    font-size: 14px;
  }
  .coach-slide {
    height: 360px;
  }
  .coach-card {
    height: 308px;
    padding: 196px 24px 24px;
  }
  /* Footer Section */
  .ftr-list > li {
    margin-right: 13px;
  }
  .ftr-links {
    padding-right: 13px;
    font-size: 16px;
  }
}
@media screen and (max-width: 1200px) {
  .title1 {
    font-size: 70px;
    line-height: 70px;
  }
  .title3 {
    font-size: 16px;
  }
  .about-title3::before,
  .service-title3::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 10%;
    left: -22px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    border: 4px solid var(--primary-color);
  }
  /* Modal */
  .input-wrpr {
    padding: 10px;
  }
  #fname::placeholder,
  #lname::placeholder,
  #emailname::placeholder,
  #gender::placeholder,
  #age::placeholder,
  #phone::placeholder,
  #weight::placeholder,
  #goal::placeholder,
  #password::placeholder {
    font-size: 14px;
  }
  /* Banner Section */
  .grey-text {
    font-size: 18px;
  }
  .yellow-line {
    margin-left: 40px;
  }
  /* Category Section */
  .card {
    padding: 30px 0 27px 21px;
  }
  .smaller-yellow-line {
    margin-left: 50px !important;
  }
  .num {
    font-size: 90px;
  }
  .cata-card-img3 {
    width: 323.44px;
    right: -32.5px;
    bottom: 0.1px;
  }
  /* About Section */

  .about-img {
    margin: 130px auto 50px;
  }
  .about-right-desc {
    max-width: 100%;
    margin: 50px 0 0;
  }
  /* Service Section */
  .service-cntn {
    margin-top: 40px;
  }
  /* Second About Section */
  .trans-card {
    margin: 0 auto 20px;
  }
  /* Coaches Swction */
  .coach-slide {
    height: 318px;
  }
  .coach-card {
    height: 263px;
    padding: 154px 18px 18px;
  }
  .coach-name {
    font-size: 29px;
  }
  /* Plan Section */
  .plan-title {
    font-size: 16px !important;
  }
  /* Location Section */
  .location-title2 {
    margin-block: 20px;
  }
  /* Footer Section */
  .ftr-row {
    flex-direction: column-reverse;
  }
  .ftr-right {
    margin: 0 auto 80px;
  }
  .ftr-left {
    margin: 0 auto;
  }
}
@media screen and (max-width: 992px) {
  .title1 {
    font-size: 62px;
    line-height: 70px;
  }
  .about-title3::before,
  .service-title3::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 10%;
    left: -21px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    border: 4px solid var(--primary-color);
  }
  /* Header Section */
  .nav-link {
    padding: 13px 13px !important;
  }
  /* Modal Section */
  .input-wrpr {
    padding: 8px;
  }
  .input-wrpr > img {
    margin-right: 2px;
  }
  #fname::placeholder,
  #lname::placeholder,
  #emailname::placeholder,
  #gender::placeholder,
  #age::placeholder,
  #phone::placeholder,
  #weight::placeholder,
  #goal::placeholder,
  #password::placeholder {
    font-size: 12px;
  }
  /* Banner Section */
  .banner-sec::before {
    width: 413px;
    height: 542px;
  }
  .banner-row {
    flex-direction: column-reverse;
  }
  .banner-right-cntn {
    max-width: 100%;
  }
  .yellow-line {
    width: 18.78px;
    height: 51.08px;
  }
  .yellow-line::before {
    left: -34px;
    width: 18.78px;
    height: 51.08px;
  }
  .yellow-line::after {
    left: 34px;
    width: 18.78px;
    height: 51.08px;
  }
  .banner-left-cntn {
    max-width: 100%;
    margin: 70px 0 0;
  }
  .member-text {
    max-width: 100%;
  }
  /* Category Section */
  .swiper-slide {
    height: 271.1px;
  }
  .cata-card-img1 {
    width: 128.06px;

    right: -23.06px;
    bottom: 0.1px;
  }
  .cata-card-img2 {
    width: 128.47px;

    right: -27.47px;
    bottom: 0.1px;
  }
  .cata-card-img3 {
    width: 318.44px;
    right: -32.5px;
    bottom: 0.1px;
  }
  /* About Section */
  .about-yellow-line {
    margin-left: 10px !important;
  }
  .about-yellow-line,
  .about-yellow-line::after,
  .about-yellow-line::before {
    width: 10.78px;
    height: 14px;
  }
  .about-yellow-line::before {
    left: -19px !important;
  }
  .about-yellow-line::before {
    left: 19px !important;
  }
  /* Service Section */
  .coaches-left-hdr {
    margin-bottom: 20px;
  }
  .training-list a {
    font-size: 21px;

    padding: 40px 0px;
  }
  .traning-img {
    left: 314px;
    bottom: -50.3px;
  }
  /* Plane Section */
  .plan-yellow-line {
    margin-left: 45px !important;
  }
  /* Footer Section */
  .ftr-btm-left {
    margin: 0 auto 50px;
  }
  .email-form {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .cursor {
    display: none;
  }
  .title2 {
    font-size: 36px;
  }
  .title3 {
    font-size: 14px;
  }

  .about-title3::before,
  .service-title3::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 10%;
    left: -22px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    border: 3px solid var(--primary-color);
  }
  .title4 {
    font-size: 16px;
  }
  /* Modal */
  .modal-desc {
    margin-block: 0 24px;
    font-size: 16px;
    line-height: 23px;
  }
  .modal-right-cntn {
    margin-top: 260px;
  }
  /* Banner Section */
  .banner-sec::before {
    width: 370px;
    height: 514px;
  }
  /* Category Section*/
  .swiper-slide {
    height: 268.1px;
  }

  .num {
    font-size: 77px;
  }

  .cata-card-img1 {
    width: 127.06px;
  }
  .cata-card-img3 {
    width: 267.44px;
    right: -32.5px;
    bottom: 0.1px;
  }
  .cata-card-img2 {
    width: 128.47px;
    position: absolute;
    right: -28.47px;
    bottom: 0.1px;
  }
  /* About Section */
  .about-img {
    margin: 50px auto 20px;
  }
  .about-right-desc {
    margin: 30px 0 0;
  }
  .about-right-desc-hdr {
    font-size: 28px;
  }
  .about-desc-row {
    margin-top: 20px;
  }
  .right-desc {
    margin-block: 20px;
  }
  /* Service Section */
  .service-cntn {
    margin-top: 80px;
  }
  .training-list a {
    font-size: 19px;
    font-weight: 500;
    padding: 21px 0px;
  }
  .traning-img {
    left: 143px;
    bottom: -40.3px;
  }
  .training-list > li:nth-child(2) > a > i {
    margin-left: 416px;
  }
  /*Second About Section */
  .sec-about-sec {
    padding: 40px 0;
  }
  .sec-about-img {
    margin-top: 30px;
  }
  .about-card-container {
    margin-top: 50px;
  }
  .trans-card {
    height: 227px;

    padding: 13px;
    margin-bottom: 24px;
  }
  .trans-card > p {
    font-size: 14px;
    line-height: 22px;
  }
  /* Coaches Section */
  .swiper-slide {
    height: 228.1px;
  }
  .coach-card {
    height: 176px;
    padding: 90px 12px 12px;
  }
  .yellow-line::after {
    left: 38px;
  }
  .coach-title {
    font-size: 12px;
  }
  .coach-name {
    font-size: 26px;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  /* Transform Section */
  .trans-hdr {
    line-height: 50px;

    font-size: 50px;
  }
  .trans-hdr > span {
    font-size: 35px;
    color: var(--text-color);
  }
  .trans-yellow {
    margin-block: 30px;
  }
  .trans-yellow > .yellow-line::after {
    left: 38px;
  }
  .transform-sec {
    background: url(../assets/Transform-sec.png) no-repeat center / cover;
    padding: 387px 0 80px;
    position: relative;
    z-index: 1;
  }
  .transform-img {
    max-width: 532px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    top: -8%;
  }
  /* Footer Section */
  .ftr-list > li {
    margin-right: 11px;
  }
  .ftr-links {
    padding-right: 11px;
  }
}
@media screen and (max-width: 576px) {
  .title1 {
    font-size: 35px;
    line-height: 36px;
  }
  .title2 {
    font-size: 24px;
  }
  .title3 {
    font-size: 14px;
    margin-left: 8px;
  }
  .about-title3::before,
  .service-title3::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    bottom: 3px;
    left: -13px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    border: 2px solid var(--primary-color);
  }
  /* Header Section */
  .navbar-brand {
    width: 130px;
  }
  /* Modal */
  .modal-content {
    padding: 5px;
    border-radius: 10px;
  }
  .modal-header > .smaller-yellow-line {
    margin-left: 61px;
  }
  #submit-btn {
    font-size: 14px;
  }
  .submit-btn-wrpr {
    padding: 12px;
  }
  .modal-right {
    padding: 15px;
  }
  .modal-right-cntn > p {
    font-size: 14px;
  }
  .modal-btm > p {
    font-size: 14px;
  }
  .line1 {
    font-size: 12px;
  }
  input[type="radio"] {
    width: 15px;
    height: 12px;
  }
  .line2 {
    font-size: 14px;
    margin-left: 7px;
  }
  .modal-right-cntn {
    margin-top: 140px;
  }
  /* Banner Section */
  .banner-sec {
    padding: 300px 0 40px;
  }
  .banner-sec::before {
    width: 279px;
    height: 433px;
  }
  .yellow-line {
    margin-left: 25px;
  }
  .yellow-line {
    width: 12.78px;
    height: 33.08px;
    /* top: 17px; */
  }
  .yellow-line::before {
    left: -24px;
    width: 12.78px;
    height: 33.08px;
    /* top: 17px; */
  }
  .yellow-line::after {
    left: 24px;
    width: 12.78px;
    height: 33.08px;
    /* top: 17px; */
  }
  .banner-left-cntn {
    margin: 50px 0 0;
  }
  /* Category Section */
  .swiper-slide {
    height: 252.1px;
  }
  .smaller-yellow-line {
    margin-left: 31px !important;
  }
  .cata-card-img2 {
    width: 130.47px;
    right: -17.47px;
    bottom: 0.1px;
  }
  .cata-card-img1 {
    right: -11.06px;
    bottom: 0.1px;
  }
  /* About Section */
  .about-sec {
    padding: 60px 0 30px;
  }
  .about-right-desc-hdr {
    font-size: 18px;
  }
  .about-yellow-line,
  .about-yellow-line::after,
  .about-yellow-line::before {
    width: 5.78px;
    height: 17.08px;
  }
  .about-yellow-line {
    margin-left: 9px !important;
  }
  .about-yellow-line::before {
    left: 11px !important;
  }
  .about-right-desc {
    margin: 20px 0 0;
  }
  .desc {
    font-size: 14px;
    line-height: 22px;
  }
  .right-desc {
    margin-block: 10px;
  }
  .phone-sec {
    align-items: center;
  }
  .phone-contact {
    margin-left: 0px;
    max-width: 261px;
    font-size: 18px;
  }
  .phone-contact > span {
    font-size: 26px;
    color: var(--primary-color);
  }
  /* Service Section */
  .service-sec {
    padding: 40px 0;
  }
  .training-list a {
    font-size: 14px;
    font-weight: 500;
    padding: 15px 0px;
  }
  .traning-img {
    left: 105px;
    bottom: -30px;
  }
  .training-list > li:first-child i {
    margin-left: 300px;
    transform: rotate(-45deg) translateY(-2px);
  }
  .training-list > li:nth-child(2) > a > i {
    margin-left: 305px;
  }
  .training-list > li:nth-child(3) > a > i {
    margin-left: 265px;
  }
  /* Coaches Section */
  .second-swiper {
    margin-top: 50px;
  }
  .swiper-slide {
    height: 293.1px;
  }
  .coach-card {
    height: 239px;
    padding: 147px 12px 12px;
  }
  /* Plan Section */
  .plan-parent-box {
    height: 470px;
    padding: 16px;
  }
  .plan-card {
    height: 436px;
    padding: 24px 16px;
  }
  .plan-yellow-line {
    margin-left: 34px !important;
  }
  .plan-title {
    font-size: 14px !important;
    margin-top: 5px;
  }
  .price-hdr {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .price-hdr > sup {
    font-size: 16px;
    font-weight: 500;
    top: -1em;
  }
  .price-ben {
    margin-block: 30px;
  }
  .price-ben > li {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 25px;
    color: var(--text-color);
  }

  .yellow-skew-lines > span {
    width: 11px;
    /* margin-bottom: -100px; */
    height: 30px;
  }
  .yellow-skew-lines {
    right: 16px;
    top: 25%;
  }
  .plan-btn {
    padding: 12px 50px;
    font-size: 14px;
  }
  /* Location Section */
  .loc-hdr {
    padding: 55px 0;
  }
  .location-right-hdr {
    margin-top: 30px;
  }
  .number > p {
    font-size: 61px;
    line-height: 33px;
  }
  .small-txt {
    font-size: 24px;
    font-weight: 400;
    color: var(--text-color);
  }
  .loc-para {
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
  }
  /* Transform Section */
  .transform-sec {
    background: url(../assets/Transform-sec.png) no-repeat center / cover;
    padding: 205px 0 63px;
    position: relative;
    z-index: 1;
  }
  .trans-desc {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 24px;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .trans-hdr > span {
    font-size: 26px;
    color: var(--text-color);
  }
  .trans-hdr {
    line-height: 34px;
    font-size: 30px;
  }
  .trans-yellow {
    margin-block: 14px;
  }
  .trans-yellow > .yellow-line::after {
    left: 22px;
  }
  .trans-yellow {
    margin-block: 14px;
  }
  /* Footer Section */
  .ftr-sec {
    padding: 60px 0;
  }
  .ftr-top {
    padding-bottom: 32px;
  }
  .ftr-hdr1,
  .ftr-hdr2 {
    font-size: 30px;
    line-height: 39px;
  }
  .scl-list {
    margin-top: 27px;
  }
  .scl-links {
    font-size: 16px;
  }
  .ftr-list > li {
    margin-right: 2px;
  }
  .ftr-links {
    padding-right: 2px;
    font-size: 10px;
  }

  .ftr-btm-left > p {
    font-size: 16px;
  }
  .email-input-wrpr {
    padding: 9px 13px;
  }
  .email-input-wrpr > .nav-btn {
    padding: 20px 27px 20px 26px;
  }
  .ftr-btn > span {
    display: none;
  }
  .email-input::placeholder {
    font-size: 14px;
  }
}
